<div class="column-container">
    <div class="column-header">
        <h2 class="column-title" *ngIf="!isEditingTitle" (click)="enableTitleEditing()">{{ column.title }}</h2>
        <input *ngIf="isEditingTitle" class="column-title-input" [(ngModel)]="editedTitle" (blur)="updateTitle()"
            (keydown.enter)="updateTitle()" autoFocus>
        <span class="delete-column-btn" (click)="deleteColumn()" title="Delete Column">×</span>
    </div>
    <div cdkDropList [id]="column.id" [cdkDropListData]="column.cards" class="card-list"
        (cdkDropListDropped)="dropSync($event)">
        <div class="empty-placeholder" *ngIf="column.cards.length === 0">
            Drop or create card
        </div>
        <app-card *ngFor="let card of column.cards" [card]="card" cdkDrag [cdkDragData]="card"></app-card>
    </div>
    <div class="column-footer">
        <div *ngIf="!isAddingCard" class="open-card-composer" (click)="isAddingCard = true">
            <span class="icon-add">+</span> Add a card
        </div>
        <div *ngIf="isAddingCard" class="card-composer">
            <textarea class="card-composer-textarea" placeholder="Enter a title for this card..."
                [(ngModel)]="newCardTitle" (keydown.enter)="addCard(); $event.preventDefault()">
      </textarea>
            <div class="composer-controls">
                <button class="primary-btn" (click)="addCard()">Add Card</button>
                <span class="icon-close" (click)="isAddingCard = false">X</span>
            </div>
        </div>
    </div>
</div>